.header {
    background: transparent !important;
    padding: 0px 24px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content {
    background: transparent;
    min-height: 92vh;
    padding: 48px 12px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.layout {
    background: linear-gradient(
    180deg,
    #fafafa, /* Yukarıda: Buz Beyazı */
    #fafafa, /* Orta: Daha Açık Beyaz */
    #fafafa  /* Aşağıda: Tam Beyaz */
  ) !important;
}

.headerCol1, .headerCol2{
    display: flex;
    align-items: center;
}

.headerCol1 {
    justify-content: flex-start;
}

.headerCol2 {
    justify-content: flex-end;
    gap: 1.5rem;
}

// .btn:hover {
//     background: transparent !important;
// }

.btn {
    padding: 10px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.myImg {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    width: 500px;
    height: 500px;
}

.myDiv {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    width: 1200px;
    height: 650px;
}

.colBlog {
    padding: 2rem 0rem;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
}